<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.product_id %></td>
    <td><%= product.recipe_id %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Edit", edit_product_path(product), remote: true, class: "btn btn-default" %></td>
    <td><%= link_to "Delete", product_delete_path(product), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>